.customButton {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #647abb;
  color: #ffffff;
}

.customButton:hover {
  box-shadow: 2px 2px 5px black;
}
