* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #030920;
}

body {
  background-color: #030920;
}

li.correct {
  background-color: #00b944;
}

li.notCorrect:not(correct) {
  background-color: #ff0000;
}
