.questionWrapper {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  text-align: center;
}

.questionWrapper li {
  width: 400px;
  list-style-type: none;
  cursor: pointer;
  border: 1px solid #030920;
  padding: 10px;
  margin: 8px auto;
  border-radius: 10px;
}

.questionWrapper li:hover {
  border: 1px solid #f6b994;
}

.boxWrap {
  background-color: #ffffff;
  width: 80%;
  padding: 35px;
  border-radius: 15px;
}
